
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = {
      "mysql-server": { "unique": false, "count": 1 },
      "mysql-client": { "unique": false, "count": -1 }
     };
    node_selector($('#drag_drop'), constraints);
  });

